/obj/
/target/
/src/main/webapp/misc/
/src/main/webapp/resources/user/
/src/main/webapp/resources/rsscache/
/mobile_clients/android/iCity/bin/
/mobile_clients/android/iCity/gen/
/.settings/
/.idea/
.classpath
.project
cluster.log*
*_ReSharper*
*.user
Bin
Debug
Release
PerformanceLogs
*.bak
*.suo
*.class
SubmissionInfo
/mobile_clients/android/iCity/.settings/org.eclipse.jdt.core.prefs
/mobile_clients/wp7/iCity.xap
*.xap
*.cs~HEAD
